ion-toolbar ion-segment {
  margin-top: -14px;
}
.recognizer-box {
  text-align: center;
  p {
    padding: 10% 5%;
    font-size: 22px;
    font-weight: 300;
    opacity: 0.2;
  }
}
.results-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .result {
    flex: 0 100%;
    padding: 15px 8px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    cursor: pointer;
    position: relative;
    &:last-child {
      border-bottom: none;
    }
    div.poster {
      position: relative;
      width: 75px;
      height: 100px;
      border-radius: 6px;
      background: #eee;
      img.poster, img.poster-effect {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        z-index: 9999;
        position: relative;
        margin-bottom: -85px;
        -webkit-transform: translateZ(0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        &.poster-effect {
          z-index: 999;
          transform: scale(0.9) translateZ(0);
        }
      }
    }
    .data {
      width: calc(100% - 75px);
      padding: 5px 5px 5px 20px;
      ion-icon.arrow {
        position: absolute;
        right: 0px;
        top: calc(50% - 20px);
        font-size: 26px;
        opacity: 0.15;
      }
      .title {
        width: 100%;
        font-weight: 800;
        letter-spacing: -0.05em;
        font-size: 18px;
        line-height: 18px;
        padding: 5px 0 5px 0;
      }
      .subtitle {
        width: 100%;
        color: #aaa;
        font-size: 16px;
        padding-bottom: 8px;
        padding-right: 16px;
        small {
          font-weight: 800;
          display: block;
          margin-bottom: -15px;
        }
      }
      .vote {
        width: 100%;
        .stars {
          float: left;
          font-size: 18px;
          margin-right: 10px;
          ion-icon {
            color: #fbcd00;
            line-height: 0px;
          }
        }
      }
    }
  }
}