<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button routerDirection="backward"></ion-back-button>
    </ion-buttons>
    <ion-title>Verify Your Phone Number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

	 <div class="login-logo" style="position:relative;">
    <img src="assets/image/banner.jpg" height="225px" width="100%;">
  </div>


	<ion-item>
	<p>We just sent an SMS authentication code to the phone number you provided. Enter it below to enable for Firebase authentication.</p>
  </ion-item>
  <form [formGroup]="form" (ngSubmit)="verifyPhoneNumber()" novalidate>

	
	<ion-item>
	  <ion-label position="stacked">6 Digit Verification Code</ion-label>
	  <ion-input #input pattern="[0-9]*" no-margin type="tel" formControlName="code"></ion-input>
	</ion-item>

    <ion-button type="submit" icon-start margin-vertical [disabled]="loading || form.invalid" shape="round" expand="block" tappable (click)="submit()"> 
      Submit
    </ion-button>
  </form>

</ion-content>
