<ion-header>
	<ion-toolbar color="ion-color-primary-rgb">
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

		   <ion-buttons slot="end">
     
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

		<ion-title style="color:white;">Map</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>

<div id = "map">

</div>
<!----
<h3>Current Latitude: {{locationTracker.lat}}</h3>
  <h3>Current Longitude: {{locationTracker.lng}}</h3>
  <h3>Current Longitude: {{locationTracker.timestamp}}</h3>
  --->


</ion-content>
<ion-footer>
  <ion-toolbar position="bottom">
		<ion-button expand="full" color="primary" (click)="placeOrder(service.cart.line_items)">Find My Location</ion-button>
	</ion-toolbar>
</ion-footer>