<ion-header>
  <ion-toolbar color="ion-color-primary-rgb">
	<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

    <ion-buttons slot="end">
     
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="color:white;">Restaurant Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <div>
    <div id="chat-container">
  
      <div class="message-wrap">
        <div *ngFor="let chat of chats;" class="message">

          <div class="message-left"  *ngIf="chat.user !== nickname">
            
            <div class="msg-detail">
              <div class="msg-content">
                 <span class="msg-name">{{restaurantName}}</span>
					<span class="msg-date">{{chat.sendDate | date:'short'}}</span>
					<p text-wrap>{{chat.message}}</p>
              </div>
            </div>
          </div>
          <div class="message-right" *ngIf="chat.user === nickname">
            
			<img class="user-img" [src]="userImage">
            <div class="msg-detail">
              <div class="msg-info">
              </div>
              <div class="msg-content">
                
				
						
						
						<span class="msg-name">{{userProfiles.displayName}}</span>
					<span class="msg-date">{{chat.sendDate | date:'short'}}</span>
					<p text-wrap>{{chat.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--
<ion-list>
    <ion-item *ngFor="let chat of chats" no-lines>
      <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
        <span class="chat-date">{{chat.sendDate | date:'short'}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.user === nickname">
          <div class="right-bubble">
            <span class="msg-name">{{userProfiles.displayName}}</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.user !== nickname">
          <div class="left-bubble">
            <span class="msg-name">{{restaurantName}}</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>

  
  -->
</ion-content>


<ion-footer class="footer">
  <ion-toolbar class="footerSections">
    <div class="containerFooter">
      <div class="inputConatiner" style="color:black;">
        <ion-input class="placeholdertext inputMessage inputBg" type="text" placeholder="Type a message" [(ngModel)]="data.message"
          autofocus="true"  padding-start></ion-input>
      </div>
      <div class="send-button-parent">
        <ion-button (click)="sendMessage()" class="sendBtn" color="primary">
          <ion-icon class="sendBtn-icon" name="send" color="light"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
