<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
	<div class="form-center pdl-30 pdr-30">
		<div class="wrapper-form pdl-30 pdr-30">
			<div class="mgt-30 mgb-20">
				<br>
				
				
				<h2 class="uppercase txt-light fw-600 fs-20 spacing-2 mgl-20 pdt-0" color = "default">Multi Vendor Application</h2>
				
			</div>
			

			<br>

			<form [formGroup]="loginForm" (submit)="loginUser()" novalidate >
				
	
			
					<ion-item class="white-opct bdra-30" >
						<ion-label position="fixed" class="mgb-5 fs-13" color = "black" >E-MAIL</ion-label>
					
						<ion-input #email formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty" class="" color= "black"></ion-input>
					</ion-item>
					
					
				
				
				<div class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
					<p class="fs-11 mgt-5 txt-light">Please enter a valid email.</p>
				</div>

				<br>
				
				
				<ion-list class="ani-bottom-to-top mgb-0 mgt-5">
					<ion-item class="white-opct bdra-30">
						<ion-label position="fixed" class="mgb-5 fs-13" color = "black">PASSWORD</ion-label>
						<ion-input #password formControlName="password" type="password" 
						[class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class="" color = "black"></ion-input>
					</ion-item>
				</ion-list>

				<div class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
					<p class="fs-11 mgt-5 mgb-0 txt-light">Your password needs more than 6 characters.</p>
				</div>

				<div text-right class="mgb-10 ovfl-auto">
			
			<br>
			
					
					
					<ion-button fill="clear" size="small" color = "default" class="capitalize txt-light fs-12 txt3 pull-right pdr-0 fw-300" [routerLink]="'/signup'">
						REGISTER NOW
					</ion-button>
				</div>

				
				<br>
				
				
				
				<ion-button expand="block" color="primary" class="mgt-30 uppercase fw-600 spacing1 ani-bottom-to-top shadow-0" type="submit">
					Login
				</ion-button>
				
				
				
				<ion-button size="block" (click)="login_fb()" color="warning" class="mgt-30 uppercase fw-600 spacing1 ani-bottom-to-top shadow-0">
					<ion-icon slot="start" name="logo-facebook"></ion-icon> Facebook
					
				</ion-button>
				
				<ion-button size="block" routerLink="/mobilelogin" routerDirection="forward" color="danger" class="mgt-30 uppercase fw-600 spacing1 ani-bottom-to-top shadow-0">
					<ion-icon slot="start" name="phone-portrait"></ion-icon> Phone Number
					
				</ion-button>
				
				
			

				<br>

			

				<br>

			</form>
		</div>
	</div>
	<div class="background-image flex-row flex-ali-center flex-jus-center">
		<img src="assets/imgs/bg-login.jpg">
	</div>
</ion-content>
