.toolbar-ios ion-title {
  padding: 0 70px 1px;
}
ion-content {
  div.profile-photo {
    float: left;
    width: 120px;
    height: 170px;
    background: #eee;
    border-radius: 6px;
    img.profile-photo, img.profile-photo-effect {
      width: 120px;
      height: 170px;
      object-fit: cover;
      border-radius: 6px;
      position: relative;
      z-index: 9999;
      -webkit-transform: translateZ(0);
      -webkit-perspective: 1000;
      -webkit-backface-visibility: hidden;
      &.profile-photo-effect {
        z-index: 999;
        margin-top: -225px;
        opacity: 0.4;
        filter: blur(4px);
        transform: scale(0.9) translateZ(0);
      }
    }
  }
  div.basic-data {
    float: left;
    width: calc(100% - 120px);
    padding-top: 8px;
    padding-left: 16px;
    h1 {
      margin: 0px !important;
      font-size: 36px;
      line-height: 34px;
      padding-bottom: 10px;
      font-weight: 700;
    }
    p {
      color: #aaa;
      margin: 3px 0 !important;
    }
  }
  div.clearfix {
    clear: both;
  }
  div.biography {
    h1 {
      padding-left: 50px;
      padding-top: 10px;
      font-weight: 300;
      color: #aaa;
      ion-icon {
        font-size: 32px;
        position: absolute;
        margin-bottom: -10px;
        margin-left: -42px;
      }
    }
    div {
      letter-spacing: -0.03em;
      font-size: 16px;
      line-height: 18px;
      padding: 0;
      margin: 15px 0 15px 0;
      max-height: 145px;
      overflow: auto;
      color: #888;
      font-weight: 100;
    }
  }
  div.movies {
    h1 {
      padding-left: 50px;
      padding-top: 10px;
      font-weight: 300;
      color: #aaa;
      ion-icon {
        font-size: 32px;
        position: absolute;
        margin-bottom: -10px;
        margin-left: -42px;
      }
    }
    div.movie {
      padding: 15px 8px;
      border-bottom: 1px solid #eee;
      padding-bottom: 30px;
      margin-bottom: 10px;
      display: flex;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      ion-icon.arrow {
        position: absolute;
        right: 0px;
        top: calc(50% - 20px);
        font-size: 26px;
        opacity: 0.15;
      }
      div.poster {
        position: relative;
        width: 75px;
        height: 100px;
        border-radius: 6px;
        background: #eee;
        img.poster, img.poster-effect {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 6px;
          z-index: 9999;
          position: relative;
          margin-bottom: -85px;
          -webkit-transform: translateZ(0);
          -webkit-perspective: 1000;
          -webkit-backface-visibility: hidden;
          &.poster-effect {
            z-index: 999;
            transform: scale(0.9) translateZ(0);
          }
        }
      }
      .data {
        width: calc(100% - 75px);
        padding: 5px 15px 5px 20px;
        .title {
          width: 100%;
          font-weight: 800;
          letter-spacing: -0.05em;
          font-size: 18px;
          line-height: 18px;
          padding: 5px 0 5px 0;
        }
        .year {
          width: 100%;
          color: #aaa;
          font-size: 16px;
          padding-bottom: 8px;
        }
      }
    }
  }
}




/***
.contentBg{
    --background: #2f517c; 
    --background: -webkit-linear-gradient(to bottom, #2f517c, #56b4d3); 
    --background: linear-gradient(to bottom, #2f517c, #56b4d3); 
    padding-bottom: 0 !important;
    --padding-bootm:0 !important;
  }

.onlineOffline_icon {
    position: absolute;
    height: 25px;
    width: 25px;
    // background-color: ;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0;
    border: 1.5px solid white;
}
.UserimgSection{
    position: relative;
}

.userBadge{
    border-radius: 90px;
    width: 34px;
    height: 34px;
    background: #E0E9F9;
    color: #789FE6;
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: center;
    position: absolute;
    top: 31px;
}

.usernameSection{
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 15px;
}
.descText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
    color:#BFC3C6;
    font-size: 16px;
}
ion-img{
    width: 90%;
    height: 90%;
}
.listSection{
    display: flex;
  
    width: 97%;
}

.borderBottomLine {
    display: block;
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #cfcfd1;
    height: 100%;
    left: 21%;
}
.lastSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 73%;
    padding-top:2px;
}
.fontSize{
    font-size: 40px;
}
h5{
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 26px;
}
ion-note{
    font-size: 24px;
}

*/