<ion-header>
  <ion-toolbar color="ion-color-primary-rgb">
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

      <ion-buttons slot="end">
      
	   <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/filter-products'" routerDirection="forward">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
	  
    </ion-buttons>
	
	
	
	

    <ion-title>Filter Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<div class="wrapp-pst" padding>
		

		<div class="wrapp-form mgt--50" padding>
			<form [formGroup]="signupForm" (submit)="searchProducts()" novalidate>
				

				<br>
				<ion-label stacked class="mgb-5">From Price</ion-label>
				<ion-list class="ani-bottom-to-top mgb-0">
					<ion-item class="white-opct bdra-30">
						<ion-input #email formControlName="fromPrice" type="number" placeholder="From price" [class.invalid]="!signupForm.controls.fromPrice.valid && signupForm.controls.fromPrice.dirty" class=""></ion-input>
					</ion-item>
				</ion-list>
				
				<div class="error-message" *ngIf="!signupForm.controls.fromPrice.valid && signupForm.controls.fromPrice.dirty">
					<p class="fs-11 mgt-5">From Price needed.</p>
				</div>

			
				<br>
				<ion-label stacked class="mgb-5">To Price</ion-label>
				<ion-list class="ani-bottom-to-top mgb-0">
					<ion-item class="white-opct bdra-30">
						<ion-input #email formControlName="toPrice" type="number" placeholder="To price" [class.invalid]="!signupForm.controls.toPrice.valid && signupForm.controls.toPrice.dirty" class=""></ion-input>
					</ion-item>
				</ion-list>
				
				<div class="error-message" *ngIf="!signupForm.controls.toPrice.valid && signupForm.controls.toPrice.dirty">
					<p class="fs-11 mgt-5">To Price needed.</p>
				</div>

			
				
		
				
		
	
				
				
		
	
				
				
			

				
	
				
		
		  
		 

		
				  
						<ion-button expand="full" color="primary" type="submit">Search Products</ion-button>
					
				
			</form>
		</div>

		<br>
		<br>
		<br>

	</div>




</ion-content>
