<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup with Mobile Number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

	  <div class="login-logo" style="position:relative;">
    <img src="assets/image/banner.jpg" height="225px" width="100%;">
  </div>

  <ion-list no-margin padding>
    <form margin-top [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
    <ion-item no-padding [class.invalid]="form.get('name').invalid">
      <ion-label position="floating">First Name</ion-label>
      <ion-input placeholder="Your name" formControlName="name" autocomplete="off" type="text" required></ion-input>
    </ion-item>
    <div class="error" *ngIf="form.get('name').hasError('required') && (form.get('name').touched || form.get('name').dirty)">Firstname is required</div>
	
	
	 <ion-item no-padding [class.invalid]="form.get('lastname').invalid">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input placeholder="Your LastName" formControlName="lastname" autocomplete="off" type="text" required></ion-input>
    </ion-item>
    <div class="error" *ngIf="form.get('lastname').hasError('required') && (form.get('lastname').touched || form.get('lastname').dirty)">Lastname is required</div>
	

   

    <ion-item no-padding [class.invalid]="form.get('email').invalid">
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="john@doe.com" formControlName="email" autocomplete="off" type="email" required></ion-input>
    </ion-item>
    <div class="error" *ngIf="form.get('email').invalid && (form.get('email').touched || form.get('email').dirty)">Email is not valid</div>

    <ion-item no-padding [class.invalid]="form.get('pass').invalid">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="pass" autocomplete="off" type="password" minlength="6" required></ion-input>
    </ion-item>
    <div class="error" *ngIf="form.get('pass').hasError('required') && (form.get('pass').touched || form.get('pass').dirty)">Please insert your password</div>
    <div class="error" *ngIf="form.get('pass').hasError('minlength') && (form.get('pass').touched || form.get('pass').dirty)">Password length must be more than 6 characters</div>

    <ion-item no-padding [class.invalid]="form.get('pass2').invalid">
      <ion-label position="floating">Password Confirmation</ion-label>
      <ion-input formControlName="pass2" autocomplete="off" type="password" required></ion-input>
    </ion-item>
    <div class="error" *ngIf="form.get('pass2').hasError('required') && (form.get('pass2').touched || form.get('pass2').dirty)">Password confirmation is required</div>
    <div class="error" *ngIf="(form.get('pass').value != form.get('pass2').value) && (form.get('pass2').touched || form.get('pass2').dirty)">Password confirmation is not valid</div>

	
	 <ion-row no-padding formGroupName="userInput">
	 
      <ion-col size="12" no-padding tappable>
        <ion-item no-padding>
          <ion-label position="floating">Country</ion-label>
		  
		  
											<ion-select [(ngModel)]="selected"  formControlName ="countryCode" okText="Okay" cancelText="Dismiss">
												  <ion-select-option *ngFor="let item of phones" value="{{item.callingCode}}">{{item.name}}</ion-select-option>
											
												</ion-select>
	
        </ion-item>
      </ion-col>
	  
      <ion-col size="12" no-padding padding-left>
        <ion-item no-padding [class.invalid]="form.get('userInput.phoneNumber').invalid">
          <ion-label position="floating">Phone</ion-label>
          <ion-input #input type="tel" placeholder="e.g. 99999999xxxx" pattern="[0-9]*" clearInput formControlName="phoneNumber" autocomplete="off" required minlength="8"></ion-input>
        </ion-item>
        <div class="error" *ngIf="form.get('userInput.phoneNumber').hasError('required') && (form.get('userInput.phoneNumber').touched || form.get('userInput.phoneNumber').dirty)">Phone is required</div>
        <div class="error" *ngIf="form.get('userInput.phoneNumber').hasError('minlength') && (form.get('userInput.phoneNumber').touched || form.get('userInput.phoneNumber').dirty)">Phone must be >= 8 characters</div>
        <div class="error" *ngIf="form.get('userInput.phoneNumber').hasError('maxlength') && (form.get('userInput.phoneNumber').touched || form.get('userInput.phoneNumber').dirty)">Phone number max length 15 characters</div>
        <div class="error" *ngIf="form.get('userInput.phoneNumber').hasError('pattern') && (form.get('userInput.phoneNumber').touched || form.get('userInput.phoneNumber').dirty)">Phone number must be numeric</div>
      </ion-col>
    </ion-row>
	
	
	<div margin-top>
      <ion-button margin-top type="submit" shape="round" expand="block" [disabled]="form.invalid || (form.get('pass').value != form.get('pass2').value)">Sign Up</ion-button>
     
    </div>
	
  
    </form>
  </ion-list>
</ion-content>
