<ion-header>
  <ion-toolbar color="ion-color-primary-rgb">
	<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

      <ion-buttons slot="end">
     
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="color:white;">Restaurant Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<div id = "map">

</div>

  

</ion-content>


<ion-footer>
  <ion-toolbar position="bottom">
		<ion-button expand="full" color="primary" >Find My Location</ion-button>
	</ion-toolbar>
</ion-footer>
