<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Login using Phone Number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

 <div class="login-logo" style="position:relative;">
    <img src="assets/image/banner.jpg" height="225px" width="100%;">
  </div>
 
  <ion-list no-margin padding>
 

 
    <form [formGroup]="mobileAuthForm" (ngSubmit)="submit()" novalidate>
        <ion-row no-padding formGroupName="userInput">
        
			  <ion-col size="12">
					<ion-item no-padding >
					  <ion-label position="floating"><ion-icon name="globe"></ion-icon> Please Choose Your Country</ion-label>
					  
												
												
												<ion-select formControlName ="countryCode" okText="Okay" cancelText="Dismiss">
														  <ion-select-option *ngFor="let item of countryList" value="{{item.callingCode}}">{{item.name}}</ion-select-option>
													
														</ion-select>
				
					</ion-item>
			</ion-col>
		
		
          <ion-col size="12">
              <ion-item no-padding [class.invalid]="mobileAuthForm.get('userInput.phoneNumber').invalid">
                <ion-label position="floating"> <ion-icon name="phone-portrait"></ion-icon> Phone Number</ion-label>
                <ion-input type="phoneNumber" placeholder="Example: 88888888...." pattern="[0-9]*" clearInput formControlName="phoneNumber" autocomplete="off" required minlength="8"></ion-input>
              </ion-item>
		
          </ion-col>
		  
		  
		  
		  
		  
        </ion-row>
        
        <div margin-vertical>
          <ion-button type="submit" shape="round" expand="block" [disabled]="mobileAuthForm.invalid">Sign In</ion-button>
          
        </div>
    </form>
  </ion-list>
</ion-content>


